:root {
    --background: #FFFFFF;
    --text-color: #141414;
    --text-color2: #000000;
    --accent-color: #26C7EA;
    --minor-accent: #0B0E66;
    --footer-color: #2B4A61;
  --avatar-color: #94CFFF;
  --color-site: #0A3853;
}