:root {
    --background: #FFFFFF;
    --text-color: #141414;
    --text-color2: #000000;
    --accent-color: #26C7EA;
    --minor-accent: #0B0E66;
    --footer-color: #2B4A61;
  --avatar-color: #94CFFF;
  --color-site: #0A3853;
}

*,
  *::after,
  *::before {
  box-sizing: border-box;
  }
  
  a {
      text-decoration: none;
  }
  
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  h1, h2, h3, p {
      margin: 0;
      padding: 0;
  }
  
  img {
      display: block;
  }
  
  .container {
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
  
  .header {
background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/header-fon.png);
   background-repeat: no-repeat;
   background-position: center;
   border-bottom: 3px solid var(--background);
  }


  .header-link {
    width: 186px;
    height: 72px;
    background-image: url(../images/avatar-logo.png);
  }

  .nav-link {
color: var(--background);
text-align: center;
font-family: "Inter";
font-size: 20px;
font-weight: 300;
line-height: 0.83;
display: flex;
gap: 38px;
justify-content: center;
  }

  .nav-link:hover, .nav-link:focus {
    color: var(--avatar-color);
  }

  .header-btn {
    color: var(--accent-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 20px;
font-weight: 400;
line-height: 1.25;
border-radius: 45px 0px;
border: 3px solid var(--accent-color);
background: var(--minor-accent);
padding: 9px 37px;

  }

  .hero {
    background-image: url(../images/hero.fon.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 204px;
    padding-bottom: 155px;
  }

  .hero-text {
    width: 298px;
    color: var(--background);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 0.83;
  }

  .desc {
    width: 376px;
  }


  .hero-btn {
   border-radius: 45px 0px;
border: 3px solid var(--accent-color);
background: var(--minor-accent);
color: var(--accent-color);
text-align: center;
font-family: "HeadlandOne";
font-size: 24px;
font-weight: 400;
line-height: 1;
padding: 25px 75px;
margin-top: 42px;
  }

  .hero-btn::before {
    content: "";
    background-image: url(../images/trailer.jpg);
  }

  .jake-decs {
    color: var(--color-site);
text-align: justify;
font-family: "Inter";
font-size: 36px;
font-weight: 400;
line-height: 0.81;
  }

  .jake-text {
color: var(--text-color2);
text-align: center;
font-family: "Inter";
font-size: 24px;
font-weight: 400;
line-height: 0.82;
  }

  .trailer {
background-image: url(../images/trailer.jpg);
background-repeat: no-repeat;
background-position: center;
text-align: center;
padding-top: 330px;
padding-bottom: 330px;

  }

  .trailer-btn {
    border-radius: 45px 0px;
border: 3px solid var(--accent-color);
background: var(--minor-accent);
color: var(--accent-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 24px;
font-weight: 400;
line-height: 0.80;
padding: 25px 18px;
  }

  .read-text {
    color: var(--text-color);
text-align: justify;
font-family: "Inter";
font-size: 36px;
font-weight: 400;
line-height: 0.81;
  }

  .read-desc {
    color: var(--text-color2);
text-align: justify;
font-family: "Inter";
font-size: 24px;
font-weight: 400;
line-height: 0.81;
  }



  .learn {
    background-image: url(../images/fon.png);
    background-repeat: no-repeat;
    background-position: center;
  }

 

  .learn-title {
    color: var(--text-color);
    text-align: justify;
    font-family: "HeadlandOne";
    font-size: 32px;
    font-weight: 400;
    line-height: 0.80;
  }

  .learn-list {
    display: flex;
  
    flex-wrap: wrap;
  }

  .learn-item{
    width: 320px;
height: 240px;
background: rgba(255, 255, 255, 0.70);
margin-right: 36px;
margin-bottom: 24px;
text-align: center;
  }

  /* .learn-item:nth-child(3n) {
    margin-right: 0;
  }

  .learn-item:nth-child(4) {
margin-bottom: 0;
  } */

  .learn-desc {
    color: var(--text-color);
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
  }

  .neytiri-text {
    color: var(--text-color);
text-align: justify;
font-family: "Inter";
font-size: 36px;
font-weight: 400;
line-height: 0.81;
  }

  .neytiri-desc {
    color: var(--text-color2);
text-align: justify;
font-family: "Inter";
font-size: 24px;
font-weight: 400;
line-height: 0.82;
  }

  .footer-logo {
    width: 183px;
height: 70px;
  }


  .footer-link {
    color: var(--background);
text-align: justify;
font-family: "Inter";
font-size: 20px;
font-weight: 400;
line-height: 0.81;
  }

.line {
  width: 2px;
  height: 153px;
  background: var(--background);
}

  .footer-desc {
    color: var(--background);
    text-align: justify;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }